src/main/resources/service.wsdl

<wsdl:definitions name="MyService"
	targetNamespace="http://ricston.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ricston.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://ricston.com/"
			version="1.0" xmlns:tns="http://ricston.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="add" type="tns:add" />
			<xs:element name="addResponse" type="tns:addResponse" />
			<xs:complexType name="add">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
					<xs:element name="arg1" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Service">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" name="add" />
			<wsdl:output message="tns:addResponse" name="addResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MyServiceSoapBinding" type="tns:Service">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="add">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MyService">
		<wsdl:port binding="tns:MyServiceSoapBinding" name="MyServicePort">
			<soap:address location="http://localhost:8081/proxy-service-validation" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>